In [0]:
import pandas as pd

In [3]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
df['reviewText_count'] = df.reviewText
df['summary_count'] = df.summary

In [0]:
def letters(string):
    vowels = 0
    consonants = 0
    
    for i in range(0, len(string)):  
            ch = string[i]  
            ch = ch.lower()
            if ( (ch >= 'a' and ch <= 'z') or 
             (ch >= 'A' and ch <= 'Z') ):
             if (ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u'): 
                vowels += 1
             else: 
                consonants += 1
    words = string.count(' ') + 1
    count = {'vowels': vowels, 'consonants': consonants, 'words': words}
    return count
df["reviewText_letter_count"] = df.reviewText.apply(letters)
df["summary_letter_count"] = df.summary.apply(letters)

In [0]:
import re

In [0]:
def BG(string):
    string = re.sub('[^a-zA-Z]',' ', string) #removes punctuations
    list1 = re.findall("\w+[Gg]", string) #finding letters ending with g/G
    list2 = re.findall("[Bb]\w+", string) #finding letters starting with b/B
    return (list(set().union(list1, list2)))

df["reviewText_BG"] = df.reviewText.apply(BG)
df["summary_BG"] = df.summary.apply(BG)