In [0]:
import pandas as pd
import gzip

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv",error_bad_lines=False)
df1 = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz" , lines=True)

In [0]:
import nltk

In [4]:
df.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [5]:
df1.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
from textblob import TextBlob

In [8]:
nltk.download('punkt')
nltk.download('brown')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [0]:
def blob(text):
  blob = TextBlob(text)
  blob.tags
  blob.noun_phrases
  for sentence in blob.sentences:
      print(sentence.sentiment.polarity)

In [0]:
df1=df1.head(10)

In [11]:
df1['reviewText_blob']=df1['reviewText'].apply(blob)

0.25
-0.5
0.0
0.0
0.41875
0.19166666666666665
0.0
0.25
0.07500000000000001
0.0
0.0
0.26666666666666666
0.0
0.178125
0.7
-0.027896825396825416
0.07999999999999999
0.4
0.0
0.3666666666666667
0.0
0.5
0.2857142857142857
0.0
0.43599999999999994
0.33
0.08333333333333333
0.125
0.525
-0.1638888888888889
0.0
0.06818181818181818
0.15000000000000002
0.6000000000000001
0.16666666666666666
-0.35
0.39999999999999997
0.25
0.8
0.3833333333333333
0.2
0.0
0.25
0.35416666666666663
0.0
0.0
0.375
0.325
0.7
0.0
0.0
0.3666666666666667
-0.2
0.0
0.20833333333333334
0.25
0.03333333333333333
0.25
-0.078125
0.2857142857142857
0.26666666666666666
0.25
-0.30000000000000004
0.2857142857142857
0.0
-0.5
0.5
0.2333333333333333
0.0
-0.033333333333333354
0.0
0.3
0.25
0.24285714285714285
0.0
0.37777777777777777
0.0
0.21428571428571427
0.5
0.0
0.18333333333333335
0.5
0.7166666666666667
0.0
0.0
0.0
0.010416666666666657
0.1
0.16666666666666666
0.03472222222222222
-0.024242424242424242
0.06944444444444443
0.0
0.18333333333333335
0.095
-0.1
0.04545454545454545
0.0
0.008666666666666666
0.0
0.0
0.0
0.2
0.30625
-0.08333333333333333
0.1992063492063492
0.3111111111111111
0.17500000000000002
0.09166666666666667
0.0
0.11000000000000003
0.6
0.42666666666666664